<p>Astronomy Picture Of The Day</p>

<p>Discover the cosmos! Each day a different image or photograph of our fascinating universe is featured, along with a brief explanation written by a professional astronomer.</p>

<p>{{ data.date }}</p>

<div *ngIf="data.media_type === 'image'">
  <img width="960" height="450" src="{{ data.url }}"/>
</div>

<div *ngIf="data.media_type === 'video'">
  <iframe width="960" height="450"
    src="{{ data.url }}">
  </iframe>
</div>



<div>{{ data.title }}</div>
<div><b>Images Credit: </b><i>{{ data.copyright }}</i></div>

{{ data.explanation }}
